<h1>About Us</h1>
<p>NewsFave.com is an aggregator of RSS feeds from various online news websites.</p>
<p>By subscribing to our free service, you would have the flexibility to choose which news publishers and categories to be shown on your personalized page. </p>
<p>To keep our contents fresh, as of now, we're updating our list every hour.</p>
<p>The site is open source, and the codes can be found here: <a href="https://github.com/bonet/newsfave" style="font-size:16px;">https://github.com/bonet/newsfave</a> and <a href="https://github.com/bonet/feed_webservice" style="font-size:16px;">https://github.com/bonet/feed_webservice</a></p>
