/*
.container {
	width: 710px;
}
*/

body {
	background: #3d79d0; /* #6cc; */
}

header {
	/*padding-top: 20px; */
	height: 70px;
}


header img {
	height: 30px;
	margin-top: -4px;
}

header .logo_header {
	 width: 300px; 
	 float: left;
}

header a {
	font-family: 'Roboto Condensed', sans-serif;
}

header a.homebrand {
	
	font-size: 40px;
	display: block;
	float: left;
	margin: 12px 20px 0 0;
	text-decoration: none;
	color: #999;
}


#signed_in_or_signed_up {
	
}

.signin-form {
	padding: 4px 0 0 0;
}

.container {
	font-family: 'Source Sans Pro', sans-serif;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
	min-height:400px;
}

section h1 {
	font-size: 200%;
}

/* Links */

a {
	color: #444;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	color: #528230;
	text-decoration: underline;
}

a:visited {
	color: #3d79d0;
}

/* HEADER Menu Navigation */

.navbar .nav>li>a {
	padding: 16px 15px 10px;
}

ul.nav li.header-tab {
	font-weight: normal;
}

ul.nav li a.header-tab {
	color: #444;
}


/* CONTENT Menu Navigation */

ul.nav-tabs {
	border-bottom: 1px solid #aaa;
}

ul.nav-tabs li {
	font-weight: bold;
	
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #09c;
	border: 1px solid #aaa; /*#aaa;*/
	border-bottom-color: transparent;
}

ul.nav-tabs li a:hover, ul.nav-tabs li a:visited:hover {
	color: #09c;
	border-bottom: 1px solid #aaa;
}

ul.nav-tabs li a {
	color: #444;
}


.tabbable table {
	width:100%;
	margin: 0 0 10px 0;
	border-color: #000;
}

.tabbable table tr td.cell-right {
	padding:0; 
	margin:0;
	width: 30%;
}

.tabbable table tr td.cell-left {
	padding:0; 
	margin:0; 
	width: 70%;
}

.content-tab a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
}

.filter-radio-right {
	font-weight: bold;
	float:right;
	padding: 8px 0; 
	line-height: 20px;
	border-bottom: 1px solid #aaa; /*#aaa;*/
	height: 20px;
	overflow: hidden;
	margin-top: -57px;
	float: right;
	width: 250px;
}

.filter-radio-right input[type="radio"] {
	margin-top:-2px
}

.filter-radio-right label {
	display:inline; 
	margin-bottom: 5px; 
	font-size: 16px; 
	font-weight: normal; 
	line-height: 20px;
}

.span4homewidth {
	width: 350px;
}

/* Content URLs*/
.content-url {
	padding: 0 0 10px 0;
	margin: 0 0 7px 0;
	border-bottom: 1px #ccc solid;
}

/* Sign up button */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Footer */

footer {
	text-align: center;
	margin-top:10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}

/* User Show Page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width:30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}


p.profile1 {
	font-size: 18px;
	display: inline-block;
	width: 70px;
	float:left
}

p.profile2, p.profile2 a {
	font-size: 18px;
}

.profile-bottom {
	border-bottom: 1px #444 solid;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
}

a.edit-info {
	font-size: 16px;
	color: #3d79d0;
}

/* Error Message */

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff
}

#error_explanation {
	width: 400px;
	color: red;
	padding: 12px 0;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

/* Signup > Subscribe */
.namelist-publisher-title {
	padding: 0 0 10px 0;
}

.namelist-category-title {
	padding: 0 0 10px 12px;
}

.namelist-publisher {
	padding: 12px 12px 12px 0;
	height: 30px;
	border-bottom: 1px solid #ccc;
	line-height: 30px;
	margin: 0 15px 0 0;
	cursor: pointer;
}

.cat-namelist-publisher {
	padding: 0 0 0 12px;
}

.chosen {
	background-color:#bbb;
}

.namelist-publisher:hover {
	background-color:#ddd;
}

#pub_cat_namelist_category {
	border-left: 1px solid #ccc;
	margin: 0 0 0 10px;
	padding: 0 10px 10px 12px; 
}

button#feed_subscribe_button {
	margin: 20px 0 0 0; 
}

#signup_modal {
	padding: 20px;
}

#signup_step1 {
	width: 270px;
	margin-left: auto;
	margin-right: auto;
}


