<div class="filter-radio-right">
	Filter by:&nbsp;
	<span>
		<label for="options-filter-category"><input type="radio" name="filter_by" id="options-filter-category" value="category" checked="checked"> 
		 Category</label>&nbsp;
	    <label for="options-filter-publisher"><input type="radio" name="filter_by" id="options-filter-publisher" value="publisher"> 
	     Publisher</label>
	</span>
</div>