<div class="filter-radio-right">
	Filter by:&nbsp;
	<span>
		<label for="optionsFilterCategory"><input type="radio" name="filter_by" id="optionsFilterCategory" value="category" checked="checked"> 
		 Category</label>&nbsp;
	    <label for="optionsFilterPublisher"><input type="radio" name="filter_by" id="optionsFilterPublisher" value="publisher"> 
	     Publisher</label>
	</span>
</div>